<h2>Standings</h2>
<table class="standings-table">
	<tr class="standings-row">
		<th>Place</th>
		<th>Team</th>
		<th>Points</th>
	</tr>
	{{#each standings as |team index|}}
		<tr class="standings-row">
			<td>{{sum index 1}}</td>
			<td>{{team.[0]}}</td>
			<td>{{team.[1]}}</td>
		</tr>
	{{/each}}
</table>
<div>Overall Standings</div>
<table class="standings-table">
  <tr class="standings-row">
    <th>Position</th>
    <th>Team</th>
    <th>Points</th>
  </tr>
  {{#each rawStandings as |team|}}
    <tr class="standings-row">
      <td>{{team}}</td>
      <td>{{team}}</td>
      <td>{{team}}</td>
    </tr>
  {{/each}}
</table>

<br>
<div>Weekly Results</div>
{{drop-down options=weeks selected=weekSelected}}

